<html>
    <head>
        <title>sena's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">sena's blog</a></h1>
        </div>
        
        <div>
            <p>published: 15.10.2022, 02:17</p>
            <h2><a href="">My first post</a></h2>
            <p>python 学習中のsenaです！よろしくお願いします！</p>
        </div>
        
        <div>
            <p>公開日: 2022/10/15, 02:17</p>
            <h2><a href="">２番目の投稿</a></h2>
            <p>こんにちは！よろしくお願いします！</p>
        </div>
    </body>
</html>